{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as macros %}
{% block title %}Products{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3">
                <div class="card w-100">
                    <div class="card-header">
                        <h4 class="card-title"><a href="{{ path("products") }}">All Categories</a></h4>
                    </div>
                </div>
                {% for category in categories %}
                    <a href="{{ path("category", {id: category.id}) }}"
                       class="list-group-item{{ macros.isActiveCategory(category.id) }}">{{ category.title }}</a>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-8 col-lg-9">
                <div class="card w-100">
                    <div class="card-header">
                        <h4 class="card-title">
                            {% if category is not defined %}All Products{% endif %}
                            {% if category is defined %}{{ category.title }}{% endif %}
                        </h4>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    {% for product in products %}
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="list-group bg-white">
                                <div class="card-header">
                                    <div class="card-title">{{ product.model.title }}</div>
                                </div>
                                <div class="body">
                                    <ul class="list-unstyled">
                                        {% if product.model.picture %}
                                            <img src="{{ product.model.picture }}" alt="" class="img-thumbnail">
                                        {% endif %}
                                        <li>Color: {{ product.characteristics.color }}</li>
                                        <li>Speed: {{ product.characteristics.speed }} Mbps</li>
                                    </ul>
                                </div>
                                <div class="footer">
                                    <a href="{{ path("product", {id: product.id}) }}"
                                       class="btn list-group-item list-group-item-primary">Details...</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $('body').css({'background-color': '#d9e1e2'});
    </script>
{% endblock %}
