{% extends 'base.html.twig' %}
{% block title %}{{ product.model.title }}{% endblock %}
{% block body %}
    <div class="container">
        <h3 class="card-title">{{ product.model.title }}</h3>
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <img src="{{ product.model.picture }}" alt="" class="img-thumbnail">
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Characteristics:</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">Color: {{ product.characteristics.color }}</li>
                            <li class="list-group-item">Speed: {{ product.characteristics.speed }} Mbps</li>
                            <li class="list-group-item">Sizes: {{ product.characteristics.sizes }} mm</li>
                            <li class="list-group-item">Weight: {{ product.characteristics.weight }} g</li>
                            <li class="list-group-item">Avg.price: {{ (product.price / 100)|number_format(2) }} UAH</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">{{ product.characteristics.other|raw }}</div>
        </div>
    </div>
{% endblock %}
