{% extends 'base.html.twig' %}
{%  block title %}{{ post.title }}{% endblock %}
{% block body %}
<div class="row">
    <div class="col-xs-12 col-md-4 col-lg-3">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Recent news:</h4>
            </div>
        </div>
        <div class="list-group">
            {% for post in posts %}
                <a href="{{ path('article', {id: post.id}) }}" class="list-group-item">{{ post.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-9">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{ post.title }}</h4>
            </div>
            <div class="card-body">{{ post.content|raw }}</div>
            <div class="card-footer">Updated at {{ post.updated|date('Y/m/d') }}</div>
        </div>
    </div>
</div>
{% endblock %}