{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <h3 class="list-group-item text-dark">Обзор airMAX ac, серия устройств airMAX ac</h3>
    <div class="container text-light">
        <div class="row">
            <div class="col-12">
                <div class="col-xs-12">
                    <img src="http://www.ubnt.su/images/index-bunner.jpg" alt="LOGO" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="d-flex align-content-between flex-wrap">
            {% for item in [
                {
                    title: "PowerBeam M",
                    pic: "http://www.ubnt.su/ubiquiti/nanobeam/nbe-m2-400-small.png",
                    url: "http://www.ubnt.su/ubiquiti/powerbeam_5ac-500.htm"
                },
                {
                    title: "Rocket M5 ac",
                    pic: "http://www.ubnt.su/ubiquiti/RocketM5/Rocket_M5_AC.png",
                    url: "http://www.ubnt.su/ubiquiti/rocket-5ac-lite.htm"
                },
                {
                    title: "AirMax Sector 5AC21-60",
                    pic: "http://www.ubnt.su/ubiquiti/SectorAirMax5G/am-m521-60-ac-small.png",
                    url: "http://www.ubnt.su/ubiquiti/sector-airmax-5ac21-60.htm"
                },
                {
                    title: "AirMax Sector 5AC22-45",
                    pic: "http://www.ubnt.su/ubiquiti/SectorAirMax5G/am-m522-45-ac-small.png",
                    url: "http://www.ubnt.su/ubiquiti/sector-airmax-5ac22-45.htm"
                },
                {
                    title: "RocketDish 5G 31dbi",
                    pic: "http://www.ubnt.su/ubiquiti/RocketDish2G/rd-5g31-ac-small.png",
                    url: "http://www.ubnt.su/ubiquiti/rocket-dish-5g-31-ac.htm"
                }
            ] %}
                <a href="{{ item.url }}" class="col-md-auto" target="_blank">
                    <div class="mt-auto">
                        <div class="text-center">{{ item.title }}</div>
                        <div class="card-body">
                            <img src="{{ item.pic }}" alt="{{ item.title }}" class="img-thumbnail">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                <p>AirMax AC — это обновленная версия фирменного протокола связи, разработанная компанией Ubiquiti
                    специально для своего оборудования. От стандартов WiFi его отличает ряд довольно существенных
                    различий,
                    которые дают технологии AirMax серьезные преимущества при работе с большим количеством
                    абонентов,
                    расположенных на значительном удалении от базовой станции.</p>
                <p>Для того, чтобы понять отличия AirMax и WiFi, рассмотрим разницу технологий на примере работы
                    двух
                    точка доступа, одна из которых использует технологию AirMax, а другая WiFi 802.11.</p>
                <p>Абонент точки доступа WiFi перед началом передачи данных проверяет, свободен ли эфир. Если эфир
                    свободен, абонент начинает передачу данных. Другие устройства при этом, в свою очередь, видя,
                    что эфир
                    занят, ожидают своей очереди на отправку данных. Это принцип работы протокола CSMA/CA, который и
                    использует технология WiFi.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <img src="http://www.ubnt.su/review/airmax-ac/bazovaya.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-7">
                Но, в случае большой удаленности абонентов друг от друга, например, при развертывании провайдерских
                сетей точка-многоточка, возникает проблема, которая заключается в том, что абоненты WiFi, находясь
                на
                значительном расстоянии, перестают слышать сигнал друг от друга. В итоге устройства-клиенты начинают
                трансляцию одновременно и возникают так называемые коллизии — наложение пакетов данных друг на друга
                и, как следствие, неизбежные ошибки.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                Для решения подобных проблем была разработана технология так называемого TDMA поллинга, которую
                использует AirMax. Суть технологии заключается в том, что при работе с протоколом AirMax базовая
                станция сама определяет очередность работы абонентов, выделяя каждому подключенному устройству свой
                временной слот для передачи данных. Благодаря такой схеме арбитража со стороны базовой станции
                возникновение коллизий исключается и значительно улучшается качество приема-передачи данных.
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="mb-auto">
                <img src="http://www.ubnt.su/review/airmax-ac/clients.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <p>Протокол AirMax использует антенную конфигурацию MIMO, благодаря чему достигаются высокие показатели
                    пропускной способности радиоканала. Также достоинством AirMax являются широкие возможности
                    масштабирования сети. Если при работе со стандартами WiFi максимальное число одновременных
                    подключений
                    к точке доступа не должно превышать 20- 25 устройств, AirMax обеспечивает одновременную работу в
                    радиоканале до 120 клиентов.</p>
                <p>Оборудование линеек AirMax, выпускаемое Ubiquiti, можно разделить на несколько категорий. Это
                    производительные точки доступа Rocket, универсальные NanoStation или NanoStation Loco и, наконец,
                    радиомосты, например, PowerBeam.</p>
                <p>Все устройства AirMax работают под управлением фирменной операционной системы AirOS, которая,
                    обладая широким спектром типичных для любой точки доступа настроек, предоставляет пользователю
                    множество дополнительных утилит, например, встроенный анализатор спектра AirView, позволяющий,
                    просканировав эфир, выбрать наименее загруженный диапазон, что будет полезно при использовании
                    оборудования в условиях большого количества посторонних беспроводных сетей.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <img src="http://www.ubnt.su/review/airmax-ac/airmax-ac.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-10">
                <p>Особняком стоит недавно анонсированная серия устройств AirMAX AC, которая ожидается в продаже этой
                    осенью.</p>
                <p>По сравнению с существующими устройствами AirMax, оборудование AirMax AC — например, Rocket М5 AC
                    Lite, обладает более высокими скоростями передачи данных и увеличенной мощностью вычислительной
                    части. Максимальная скорость передачи данных при использовании AirMax AC достигает 450 Мбит/с, что
                    значительно больше, чем у предыдущих версий оборудования AirMax.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Кроме того, серия AirMax AC оснащена новыми полосовыми фильтрами радиопомех AirPrism, которые
                    способны
                    значительно улучшить качество связи в условиях высокого уровня помех.</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="mb-auto">
                <img src="http://www.ubnt.su/review/airmax-ac/airprism.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="mb-auto">
                <img src="http://www.ubnt.su/review/airmax-ac/airprism2.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Вместе с серией оборудования AirMax AC были анонсированы и новые WiFi антенны, идеально
                    приспособленные для совместной работы с точками доступа Rocket M5 AC, это параболические
                    RocketDish AC и секторные AirMax AC Sector. Не осталось без изменения и программное обеспечение.
                    Серия оборудования AirMax AC работает под управлением новой AirOS v7, которая обладает
                    переработанным интерфейсом и адаптирована для работы с мобильными устройствами.</p>
                <p>Ниже рассмотрим типичные области применения разных серий оборудования от Ubiquiti Networks.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex align-items-start">
                <img src="http://www.ubnt.su/review/airmax-ac/rocket.jpg" alt="" align="top">Точки доступа Rocket будут
                прекрасным
                выбором при необходимости построения базовых станций. Они имеют производительные процессоры,
                высокую мощность радиомодуля и способны обеспечить работу большого количества пользователей,
                предоставив им высокоскоростной доступ в сеть. Rocket не имеют встроенных антенн, для совместного
                использования с ними компания Ubiquiti создала специальную линейку WiFi антенн, в которую входят
                всенаправленные антенны AirMax Omni, секторные AirMax Sector и направленные антенны RocketDish с
                параболическими отражателями, способные устанавливать соединения на расстояниях в десятки километров.
                Выбор той или иной WiFi антенны будет зависеть от конкретного использования точки доступа и
                расположения абонентов по отношению к ней.
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-12 d-flex align-items-start">
                <img src="http://www.ubnt.su/review/airmax-ac/nanostation.jpg" alt="">NanoStation — это серия точек
                доступа с встроенными секторными антеннами, которые могут работать как в качестве небольшой по мощности
                базовой станции, так и выступать в роли клиентов других сетей или работать в составе радиомостов
                точка-точка. Такая универсальность делает их очень популярным решением на рынке беспроводного
                оборудования. Младшая серия Loco ориентирована прежде всего на работу в качестве мощного клиента
                удаленной базовой станции. При необходимости Loco также могут обеспечивать доступ в сеть ограниченного
                количества клиентских устройств или работать в составе радиомоста.
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-12 d-flex align-items-start">
                <img src="http://www.ubnt.su/review/airmax-ac/powerbeam.jpg" alt="">И, наконец, радиомосты PowerBeam M
                — это точки доступа, укомплектованные узконаправленными WiFi антеннами с параболическими отражателями,
                которые за счет высокого коэффициента усиления сигнала способны устанавливать соединение на расстояниях
                до 30 и более км в условиях прямой видимости между сторонами моста.
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-12">
                <p>Как мы видим, линейка оборудования, поддерживающая фирменный протокол AirMax / AirMax
                    ac, весьма обширна и включает в себя широкий спектр решений различного уровня, позволяющий подобрать
                    оборудование для любых задач. Точки доступа серий AirMax изготовлены в прочных всепогодных корпусах
                    и могут работать в широком диапазоне плюсовых и минусовых температур, что позволяет спокойно
                    использовать их вне помещений на радиовышках или крышах зданий в любое время года без опасений за
                    работоспособность устройств.</p>
                <p>Подводя итог, можно сказать, что точки доступа от компании Ubiquiti, работающие с технологией
                    AirMax, будут прекрасным решением для создания провайдерских базовых станций или производительных
                    радиомостов, позволяя избежать возникновения коллизий и обеспечивая качественную связь на больших
                    расстояниях.</p>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script language="javascript">
        $("body").css({
            'background-color': '#000000'
        })
    </script>
{% endblock %}
