{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ title }}</h4>
                </div>
                <div class="card-body">
                    <div class="list-group">
                        {% for post in posts %}
                            <a href="{{ path('article', {id: post.id}) }}" class="list-group-item">{{ post.title }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
{% endblock %}