{% extends 'base.html.twig' %}
{% block title %}Search - {{ query }}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-3">
                <h3>Search Results</h3>
                <h4>"{{ query }}"</h4>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-9">
                <div class="card w-100">
                    <div class="card-header">
                        <h4 class="card-title">Products:</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if products|length == 0 %}
                                <div class="col-xs-12 col-md-4 col-lg-3">Empty :(</div>
                            {% endif %}
                            {% for product in products %}
                                <div class="col-xs-12 col-md-4 col-lg-3">
                                    <div class="list-group bg-white">
                                        <div class="card-header">
                                            <div class="card-title">{{ product.model.title }}</div>
                                        </div>
                                        <div class="body">
                                            <ul class="list-unstyled">
                                                {% if product.model.picture %}
                                                    <img src="{{ product.model.picture }}" alt="" class="img-thumbnail">
                                                {% endif %}
                                            </ul>
                                        </div>
                                        <div class="footer">
                                            <a href="{{ path("product", {id: product.id}) }}"
                                               class="btn list-group-item list-group-item-primary">Details...</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card w-100">
                    <div class="card-header">
                        <h4 class="card-title">News:</h4>
                    </div>
                    <div class="card-body">
                        {% if news|length == 0 %}
                            <div class="row">
                                <div class="col-xs-12 col-md-4 col-lg-3">Empty :(</div>
                            </div>
                        {% endif %}
                        <div class="list-group">
                            {% for post in news %}
                                <a href="{{ path('article', {id: post.id}) }}"
                                   class="list-group-item">{{ post.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
