<!doctype html>
{% import "macros.html.twig" as macros %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}AirMax Technologies{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>

    <script src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">AirMax Technologies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{{ macros.isActivePage('') }}">
                    <a class="nav-link" href="{{ path('index') }}">Home</a>
                </li>
                {% for page in pages %}
                    <li class="nav-item{{ macros.isActivePage(page.aliases) }}">
                        <a class="nav-link" href="{{ path(page.alias) }}">{{page.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{{ path('search') }}" method="get">
                <input
                        class="form-control mr-sm-2"
                        name="query"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                        required="required"
                        minlength="3"
                        value="{% if query is defined %}{{ query }}{% endif %}">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<p>
<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
