{% macro isActivePage(route) %}
    {% if app.request.uri|split('/')[3] in route|split(',') %}active{% endif %}
{% endmacro %}

{% macro isActiveCategory(id) %}
    {% set params = app.request.uri|split('/') %}
    {% if params|length > 4 and params[4] == id %}active{% endif %}
{% endmacro %}
